# EditorConfig is awesome: http://EditorConfig.org

# 本配置文件所在根目录
root = true

[*]
charset = utf-8
end_of_line = lf
indent_style = space
indent_size = 2
trim_trailing_whitespace = true
insert_final_newline = true