@import "vars";

.text-blue {
  color: $text-color-blue;
}


.align {
  &-left {
    text-align: left;
  }
  &-center {
    text-align: center;
  }
  &-right {
    text-align: right;
  }
}


.clearfix:after {
  content: "";
  display: block;
  height: 0;
  visibility: hidden;
  clear: both;
}

.float {
  &-r {
    float: right;
  }
  &-l {
    float: left;
  }
}

.shadow-border {
  border-bottom: 1px solid $border-color-grey;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, .1);
}

.overhidden {
  overflow: hidden;
}

// 字体大小
// 宽度
// 边距
@for $i from 1 through 12 {
  .f-#{$i * 2 + 10} {
    font-size: $i * 2 + 10px;
  }
  .mt-#{$i * 4} {
    margin-top: $i * 4px;
  }
  .w-#{$i} {
    width: $i / 12 * 100%;
  }
}

