@import "../../style/variables.less";

@imgUrl: "../../static/imgs";

.header {
  padding: 15px 20px;
  height: 33px;
  position: relative;
  border-bottom: 5px solid #1e9fff;
  background: #393d49;

  .header-logo {
    vertical-align: middle;
    margin-top: -10px;
    margin-right: 20px;
    height: 40px;
    width: 40px;
  }

  .header-title {
    font-size: 1.6em;
    color: #e2e2e2;
    font-weight: 600;
    letter-spacing: 3px;

    .header-flex-menu {
      margin-left: 20px;
      vertical-align: middle;
      padding: 5px 5px;
      line-height: 1px;
      img {
        width: 20px;
      }
    }
  }

  .header-right {
    position: absolute;
    right: 24px;
    top: 5px;
  }

  .header-menu {
    background: #393d49;
    border-bottom: #393d49;
    color: #d2d2d2;
    .rc-menu-item-active {
      color: #e8ebef;
    }
  }

  .header-menu-item {
    cursor: pointer;
    border-bottom: 0px;
    background: #393d49;
  }
}

// .header {
//   background: #364d68 url('@{imgUrl}/top_bg_repeat.gif') repeat-x;
//   padding: 15px 20px;
//   height: 30px;
//   position: relative;
//   img {
//     vertical-align: middle;
//     margin-top: -10px;
//     margin-right: 20px;
//   }
//   .title {
//     font-size: 1.6em;
//     color: white;
//     font-weight: 600;
//     letter-spacing: 3px;
//   }
//   .right_link {
//     position: absolute;
//     right: 12px;
//     top: 7px;
//     color: white;
//     a {
//       color: white;
//     }
//   }
// }

.toggle {
  text-align: center;
  position: relative;
  z-index: 2;
  height: 6px;
  background: #364d68 url("@{imgUrl}/top_bg_repeat.gif") bottom repeat-x;
  img {
    vertical-align: top;
  }
}

.leftbar {
  position: absolute;
  top: 68px;
  bottom: 0;
  left: 0;
  right: auto;
  width: 198px;
  overflow: hidden;
  overflow-y: auto !important;
  background-color: #f2f2f2;
  border: 1px solid #e5e5e5;
  border-width: 0 1px 0 0;

  .leftbar-menu {
    -webkit-box-shadow: 0 0 0px;
    box-shadow: 0 0 0px;
    border-radius: 0px;
    border-width: 0px;
    background-color: #f2f2f2;
    border: 1px solid #e5e5e5;
    border-width: 0 0 1px;
    padding-bottom: 0px;
    margin-bottom: 12px;
  }

  .rc-menu-item,
  .rc-menu-submenu {
    border: 1px solid #e5e5e5;
    border-width: 1px 0 0;
    background-color: #f8f8f8;
    cursor: pointer;
  }

  .rc-menu-submenu-active,
  .rc-menu-item-active {
    background-color: #eaf8fe;
    color: #329dfd;
  }

  .rc-menu-item-selected {
    border-right: 3px solid #329dfd;
    color: #329dfd;
  }
}

// .left {
//   .leftbar {
//     position: absolute;
//     top: 66px;
//     bottom: 0;
//     left: 0;
//     right: auto;
//     width: 198px;
//     background: #e8ebef url("@{imgUrl}/west-container_bg.gif");
//     overflow: hidden;
//     overflow-y: auto !important;

//     .title {
//       height: 30px;
//       font-size: 16px;
//       text-align: center;
//       line-height: 26px;
//       font-weight: bold;
//       color: #0075cb;
//       letter-spacing: 3px;
//       background: url("@{imgUrl}/welcome_panel_bg.gif") no-repeat;
//     }

//     .user_info {
//       height: 100px;
//       .detail_container {
//         background: url("@{imgUrl}/attribute_panel_bg.gif") top no-repeat;
//         height: 70px;
//         .detail {
//           font-size: 12px;
//           text-align: left;
//           line-height: 18px;
//           color: #0075cb;
//           padding: 4px 0px 0px 10px;
//         }
//       }
//     }

//     .menu {
//       border-top: 1px solid #93bad9;
//       .title {
//         background: url("@{imgUrl}/menu_top_panel_bg.gif") no-repeat;
//       }
//       .menu_list {
//         overflow: auto;
//       }
//     }
//   }

//   .toggle_left {
//     position: absolute;
//     padding: 0px;
//     margin: 0px;
//     font-size: 1px;
//     text-align: left;
//     overflow: hidden;
//     z-index: 1;
//     left: 198px;
//     width: 6px;
//     top: 66px;
//     bottom: 0;
//     background: #c2d4e8 url("@{imgUrl}/ui-layout-resizer-west_bg.gif") left
//       repeat-y;
//   }
// }

.rc-tabs {
  left: 200px;
  right: 0px;
  top: 69px;
  bottom: 0;
  position: absolute;
  // border: 1px solid #91a7b4;
  overflow: auto !important;
  background: white;
}

.rc-tabs-top .rc-tabs-tab {
  margin-right: 0;
  border-right: 1px #efefef solid;
  padding-right: 35px;
}

.rc-tabs-content .rc-tabs-tabpane {
  padding: 10px;
}

.close_tab {
  position: absolute;
  cursor: pointer;
  color: red;
  right: 10px;
  top: 10px;
  &:hover {
    opacity: 0.7;
  }
}
