{
  "presets": [
    [
      "@babel/env",
      {
        "loose": true,
        "spec": true,
        "useBuiltIns": false,
        "modules": true
      }
    ]
  ],
  "plugins": [
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-proposal-class-properties",
    "babel-plugin-transform-es3-member-expression-literals",
    "babel-plugin-transform-es3-property-literals",
    "istanbul"
  ]
}
