COOKIE_SECRET=3b3544e514e3540e1121d15a09565dd9dc963f8a81eee4402a445d6bca25b9d9027e4e9286be660cf066fe18cc81c7bbe25945ef27a51297bb2879ead5d95902
CLOUDINARY_URL=cloudinary://333779167276662:_8jbSi9FB3sWYrfimcl8VKh34rI@keystone-demo

# You will need to provide a MAILGUN_API_KEY and MAILGUN_DOMAIN to
# get email sending working.

MONGO_URI=mongodb://localhost/keystone-template
USE_KEYSTONE_SERVER=true
NODE_ENV=development