doctype html
html
    h1 #{title}
head

body
    //p #{body}
    mark hello wulian

    div
        img(src="/static/img/password.jpg")

    script(src="http://apps.bdimg.com/libs/jquery/1.9.1/jquery.min.js")
