.password-change-box{
    background: url("../../assets/url-img/login/login_bg.png") no-repeat;
    text-align: center;
    height: 100%;
    width: 500px;
}
.password-change-card-content{
    padding: 26px 30px;
}
.verify-img{
    width: 110px;
    height: 32px;
}

.password-change-input{
    border-radius: 0;
}