<!doctype html>
<html class="no-js">

<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=8">
    <title>IE8 React Redux Starter Kit</title>

    <!-- tailwindcss常用工具 @nice  -->
    <link href="https://cdn.bootcss.com/tailwindcss/0.7.3/utilities.min.css" rel="stylesheet">
    <!-- <link href="/css/jplayer.blue.monday.css" rel="stylesheet"> -->

    <script src="http://apps.bdimg.com/libs/jquery/1.11.3/jquery.min.js"></script>
    <!--<script src="/js/jquery.min.js"></script>-->
    <script src="https://cdn.bootcss.com/jplayer/2.9.2/jplayer/jquery.jplayer.min.js"></script>
    <!-- <script src="/js/jquery.jplayer.min.js"></script> -->
    <script src="https://cdn.bootcss.com/echarts/4.1.0.rc2/echarts.min.js"></script>

    <!--[if lt IE 9]>
    <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <script src="http://cdn.bootcss.com/console-polyfill/0.3.0/index.min.js"></script>
    <![endif]-->
</head>

<body>

<div id="container"></div>
</body>

</html>
